<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-md-3">
			<span class="fa-stack fa-2x">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:14px"></span>
				<span class="fa fa-arrow-circle-left fa-stack-1x" style="color:#31708f;cursor:pointer" [routerLink]="['/manageRulesets']"></span>
			</span>
		</div>
		<h2 class="col-md-9">Create New Ruleset</h2>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label" for="rulesetName">Ruleset Name:</label>
		<div class="col-md-8">
			<input type="text" class="form-control" id="rulesetName" placeholder="Ruleset Name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Ruleset files #1</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#2</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#3</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#4</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#5</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#6</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">#7</label>
		<input class="col-md-8" type="file" required=true>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary">Create Ruleset</button>
		</div>
	</div>
</form>
