<form class="form-horizontal" role="form">
	<!--
		wma test begin
	-->

	<div class="alert alert-danger fade in" *ngIf="showErrorMessage">
		<!--
			<p class="error_message">{{message}}</p>
			class="alert alert-warning"
			class="alert alert-warning fade in"
			class="alert alert-danger fade in"
			class="alert alert-success fade in"
			class="alert alert-info fade in"

			<div class="alert alert-danger">
        	<span class="close" data-dismiss="alert">&times;</span>
        	<strong>Error!</strong> A problem has been occurred while submitting your data.
    </div>
		-->
		<!--
		<a href="/?23" class="close" data-dismiss="alert">&times;</a>
		-->
    	<strong>Error!</strong> {{errorMessage}}
	</div>
	<div class="alert alert-success fade in" *ngIf="showSuccessMessage">
		<!--
			<p class="error_message">{{message}}</p>
			class="alert alert-warning"
			class="alert alert-warning fade in"
			class="alert alert-danger fade in"
			class="alert alert-success fade in"
			class="alert alert-info fade in"

			<div class="alert alert-danger">
        	<span class="close" data-dismiss="alert">&times;</span>
        	<strong>Error!</strong> A problem has been occurred while submitting your data.
    </div>
		-->
		<!--
		<a href="/?23" class="close" data-dismiss="alert">&times;</a>
		-->
    	<strong>Success!</strong>{{successMessage}}	
	</div>
		  <!--
			wma test end
		-->
	<div class="form-group">
		<div class="col-md-3">
			<span class="fa-stack fa-2x">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:14px"></span>
				<span class="fa fa-arrow-circle-left fa-stack-1x" style="color:#31708f;cursor:pointer" [routerLink]="['/manageRulesets']"></span>
			</span>
		</div>
		<h2 class="col-md-9">Create New Ruleset</h2>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label" for="rulesetName">Ruleset Name:</label>
		<div class="col-md-8">
			<input type="text" class="form-control" placeholder="Ruleset Name" name="rulesetName" [(ngModel)]="rulesetName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Reference Amount Rules</label>
		<input class="col-md-8" id="refamt" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Front of Pack Rules</label>
		<input class="col-md-8" name="fop" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Shortcut Rules</label>
		<input class="col-md-8" name="shortcut" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Threshold Rules</label>
		<input class="col-md-8" name="thresholds" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Initial Rules</label>
		<input class="col-md-8" name="init" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Tier Rules</label>
		<input class="col-md-8" name="tier" type="file" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary"
				(click)="uploadAll()">Create Ruleset</button>
		</div>
	</div>
</form>
