<form class="form-horizontal" role="form">
	
	<div *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade in">	
		<span (click)="staticReference.showErrorMessage = false" class="close" data-dismiss="alert" aria-label="close">&times;</span>
		<p class="text-danger"><strong>Error!</strong>{{errorMessage}}</p>	
	</div>
	<div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade in">	
		<span (click)="staticReference.showSuccessMessage = false" class="close" data-dismiss="alert" aria-label="close">&times;</span>
		<p class="text-success"><strong>Success!</strong>{{successMessage}}</p>	
	</div>
	<div *ngIf="showStatusMessage" class="alert alert-success alert-dismissible fade in">	
		<p class="text-success">{{statusMessage}}</p>	
	</div>
	
	<div class="form-group">
		<div class="col-md-3">
			<span class="fa-stack fa-2x">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:14px"></span>
				<span class="fa fa-arrow-circle-left fa-stack-1x" style="color:#31708f;cursor:pointer" [routerLink]="['/manageRulesets']"></span>
			</span>
		</div>
		<h2 class="col-md-9">Create New Ruleset</h2>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label" for="rulesetName">Ruleset Name:</label>
		<div class="col-md-8">
			<input type="text" class="form-control" placeholder="Ruleset Name" name="rulesetName" [(ngModel)]="rulesetName">
		</div>
	</div>
	<div class="form-group" >
		<label class="col-md-4 control-label">Reference Amount Rules</label>
		<input [attr.disabled]="disableRefamt?'':null" class="col-md-8" name="refamt" id="id0" type="file" (change)="refamt()" ng2FileSelect [uploader]="customUploader"  required=true>
	</div>
	<div class="form-group" >
		<label class="col-md-4 control-label">Front of Pack Rules</label>
		<input [attr.disabled]="disableFop?'':null" class="col-md-8" name="fop" id="id1" type="file" (change)="fop()" ng2FileSelect [uploader]="customUploader"    required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Shortcut Rules</label>
		<input [attr.disabled]="disableShortcut?'':null" class="col-md-8" name="shortcut" id="id2" type="file" (change)="shortcut()" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Threshold Rules</label>
		<input [attr.disabled]="disableThresholds?'':null" class="col-md-8" name="thresholds" id="id3" type="file" (change)="thresholds()" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Initial Rules</label>
		<input [attr.disabled]="disableInit?'':null" class="col-md-8" name="init" id="id4" type="file" (change)="init()" ng2FileSelect [uploader]="customUploader"  required=true>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Tier Rules</label>
		<input [attr.disabled]="disableTier?'':null" class="col-md-8" name="tier" id="id5" type="file" (change)="tier()" ng2FileSelect [uploader]="customUploader" required=true>
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary"
				(click)="uploadAll()">Create Ruleset</button>
		</div>
	</div>
</form>
