<div class="container">
	<h1>Query Form</h1>
	<form (ngSubmit)="onSubmit()" #queryForm="ngForm">
		{{diagnostic}}
		<div>
			<div class="form-horizontal">
				<div class="form-group col-sm-4">
					<label class="control-label" for="dataSourceCmb">Data Source</label>
					<select class="form-control" id="dataSourceCmb" required
								  [(ngModel)]="cfgRequest.source"
								  name="source"
		  #source="ngModel">
						<option *ngFor="let source of dataSource" [value]="source">{{source}}</option>
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label for="name">Food/Recipe Name</label>
					<input type="text" class="form-control" id="name" required
											 [(ngModel)]="cfgRequest.name"
											 name="name"
			#name="ngModel"
			#spy>
					<div [hidden]="name.valid || name.pristine"
			class="alert alert-danger">
						Name is required
					</div>
				</div>
				<div class="form-group row col-sm-4">
					<div class="col-6"><label class="col-6" for="code">Food/Recipe Code</label></div>
					<input type="text" class="form-control">
				</div>
			</div>
			<div>
				<label class="control-label">Commit Date</label>
				<input type="date"> - <input type="date">
			</div>
			<div class="form-horizontal">
				<div class="col-4">	
					<label class="col-4" for="subCode">Sub Group Code</label>
				</div>
				<input class="form-control col-3" type="text" id="subCode">
			</div>
			<div [hidden]="source.value=='Food'" class="form-group">
				<label class="control-label" for="rollUpDownCmb">Recipe:</label>
				<select class="form-control" id="rollUpDownCmb"
								 [(ngModel)]="cfgRequest.rollUp"
								 name="rollUp">
					<option *ngFor="let rollUp of rollUpDown" [value]="rollUp">{{rollUp}}</option>
				</select>
			</div>
		</div>
		<div class="container form-group form-horizontal">
			<fieldset class="well col-sm-6">
				<legend class="well-legend">Contains Added</legend>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Sodium</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Sugar</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Fat</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Transfat</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Caffeine</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Free Sugars</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class="container form-group form-horizontal">
					<label class="control-label col-sm-3" for="addedSodiumDdl">Sugar Substitute</label>
					<div class="col-sm-4">
						<select class="form-control" id="addedSodiumDdl"
								   [(ngModel)]="addedSodium"
								   name="addedSodium">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset class="well col-sm-6">
				<legend class="well-legend">Missing Values</legend>
				<div class="checkbox" *ngFor="let item of missingValues">
					<label class="center-block">
						<input type="checkbox">{{item}}
					</label>
				</div>
			</fieldset>
		</div>
		<button name="rollUp"
		  routerLink="/main" type="submit" class="btn btn-success" [disabled]="!queryForm.form.valid">Submit</button>
	</form>
</div>

