<h1 mat-dialog-title>Field Visibility</h1>
<div>
	<div class="form-vertical">
		<mat-tab-group>
			<mat-tab label="Base">
				<div *ngFor="let column of columns;index as i">
					<label *ngIf="i>0&&i<5">
						<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
					</label>
				</div>
			</mat-tab>
			<mat-tab label="Extended Data">
				<div class="row">
					<div class="col-md-6">
						<ng-template ngFor let-i="index" let-column [ngForOf]="columns">
							<label *ngIf="i>4&&i<23" style="width:350px;">
								<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
							</label>
						</ng-template>
					</div>
					<div class="col-md-6">
						<ng-template ngFor let-i="index" let-column [ngForOf]="columns">
							<label *ngIf="i>36&&i<55" style="width:350px">
								<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
							</label>
						</ng-template>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Contains">
				<div class="row">
					<div class="col-md-5">
						<ng-template ngFor let-i="index" let-column [ngForOf]="columns">
							<label *ngIf="i>22&&i<37">
								<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
							</label>
						</ng-template>
					</div>
				</div>
			</mat-tab>
			<mat-tab *ngIf="datasetStatus=='Classified'" label="Reference Amount">
				<div *ngFor="let column of columns;index as i">
					<label *ngIf="i>54&&i<61">
						<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
					</label>
				</div>
			</mat-tab>
			<mat-tab *ngIf="datasetStatus=='Classified'" label="Threshold">
				<div *ngFor="let column of columns;index as i">
					<label *ngIf="i>60&&i<75">
						<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
					</label>
				</div>
			</mat-tab>
			<mat-tab *ngIf="datasetStatus=='Classified'" label="Adjustments">
				<div *ngFor="let column of columns;index as i">
					<label *ngIf="i>74&&i<78">
						<input name="column.field" [(ngModel)]=column.selected type="checkbox">{{column.name}}
					</label>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
	<div mat-dialog-actions>
		<button class="btn btn-primary" (click)="dialogRef.close(columns)">Close</button>
	</div>
</div>
