/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cfg-spinner .mat-dialog-container{
	display:inline;
	padding:0px;
	text-align: -webkit-center;
}
