<div class="container-fluid" style="height: 100%;">
	<div style="height: 40px;" class="row">
		<div class="col-sm-6">
			<button class="btn-success" (click)=onSaveClick()>Save</button>
		</div>
		<div class="col-sm-6 right"> 
			Submit to CFG Admin for validation:
			<button class="btn-primary" (click)="goBack()">Submit</button>
			<button class="btn-info" routerLink="/query">Quit</button>
		</div>
	</div>
	<div [style.height.px]="height">
		<ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-fresh"
															  [gridOptions]="gridOptions">
		</ag-grid-angular>
	</div>
</div>
