<div class="container-fluid" style="height: 100%;">
	<div style="height: 40px;" class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-lg" style="margin-left:-8px">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:10px"></span>
				<span class="fa fa-arrow-circle-left fa-stack-1x" style="color:#31708f;cursor:pointer" (click)=onBackArrowClick()></span>
			</span>
			<span class="fa-stack fa-lg" style="margin-left:-5px">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:10px"></span>
				<span class="fa fa-file-excel-o fa-stack-1x" style="color:#31708f;cursor:pointer;font-size:24px" (click)=onExportClick()></span>
			</span>
			<button (click)="onExportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
			<span *ngIf="cfgModel.isCfgAdmin" class="fa-stack fa-lg" style="margin-left:-5px">
				<span class="fa fa-square fa-stack-2x" style="color:#FFFFFF;font-size:115%;padding-top:10px"></span>
				<span class="fa fa-list-alt fa-stack-1x" style="color:#31708f;cursor:pointer;font-size:30px" [routerLink]="['/manageRulesets']"></span>
			</span>
		</div>
		<div *ngIf="!isReadOnlyUser()">
			<div *ngIf="dataset!=undefined && (dataset.status=='New' || modified == true)" class="col-md-8 right" style="text-align:right">
				<button class="btn btn-primary" (click)="onSaveClick(true)">Save</button>
				<button *ngIf="dataset!=undefined && modified == true && (dataset.status=='Validated' || dataset.status=='Committed')" class="btn btn-warning" (click)="onBackClick()">Back</button>
			</div>
			<div *ngIf="dataset!=undefined && modified == false && dataset.status=='In Progress' && dataset.owner==cfgModel.userFullName" class="col-md-8 right" style="text-align:right">
				<button class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
			</div>
			<div *ngIf="dataset!=undefined && modified == false && dataset.status=='Review' && (dataset.owner==cfgModel.userFullName || cfgModel.isCfgAdmin)" class="col-md-8 right" style="text-align:right">
				<button class="btn btn-primary" (click)="onSubmitClick()">Resubmit</button>
			</div>

			<div *ngIf="dataset!=undefined && modified == false && dataset.status=='Pending Validation' && readyToValidate && cfgModel.isCfgAdmin" class="col-md-8 right" style="text-align:right">
				<button class="btn btn-primary" (click)="onValidateClick()">Validate</button>
			</div>
			<div *ngIf="dataset!=undefined && modified == false && dataset.status=='Pending Validation' && !readyToValidate && cfgModel.isCfgAdmin" class="col-md-8 right" style="text-align:right">
				<button class="btn btn-warning" (click)="onSendForReviewClick()">Send for Review</button>
			</div>
			<div *ngIf="dataset!=undefined && modified == false && (dataset.status=='Validated' || dataset.status=='Committed') && cfgModel.sandboxMode==false" class="col-md-8 right" style="text-align:right">
				<button *ngIf="readyToValidate" class="btn btn-primary" (click)="onClassifyClick()">Classify</button>
				<button *ngIf="cfgModel.isCfgAdmin" class="btn btn-warning" (click)="onSendForReviewClick()">Send for Review</button>
			</div>
			<div *ngIf="dataset!=undefined && modified == false && dataset.status=='Classified' && cfgModel.sandboxMode==false" class="col-md-8 right" style="text-align:right">
				<button *ngIf="cfgModel.isCfgAdmin" class="btn btn-primary" (click)="onCommitClick()">Commit</button>
				<button class="btn btn-warning" (click)="onBackClick()">Back</button>
			</div>
		</div>
		<div *ngIf="isReadOnlyUser() && dataset!=undefined && (dataset.status=='Validated' || dataset.status=='Committed') && cfgModel.sandboxMode==false">
			<div class="col-md-8 right" style="text-align:right">
				<button class="btn btn-primary" (click)="onClassifyClick()">Classify</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" style="float:none">
			<label>Datasets > {{dataset.name}}</label>
		</div>
	</div>
	<div *ngIf="dataset!=undefined && dataset.status=='Classified'" class="row" style="text-align:center;margin-bottom:-20px;margin-top:-40px;width:100%;display:flex;justify-content:center;">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary" [class.active]="btnBarState.showBase">
				<input type="checkbox" [(ngModel)]="btnBarState.showBase" (change)=toggleExt();> Extended Data
			</label>
			<label class="btn btn-primary" [class.active]="btnBarState.showRa">
				<input type="checkbox" [(ngModel)]="btnBarState.showRa" (change)="toggleRA();"> Reference Amount
			</label>
			<label class="btn btn-primary" [class.active]="btnBarState.showThreshold">
				<input type="checkbox" [(ngModel)]="btnBarState.showThreshold" (change)="toggleThres();"> Threshold
			</label>
			<label class="btn btn-primary" [class.active]="btnBarState.showAdj">
				<input type="checkbox" [(ngModel)]="btnBarState.showAdj" (change)="toggleAdj();"> Adjustments
			</label>
		</div>
	</div>
	<div #gridPlaceHolder style="height: calc(100vh - 218px);width:100%;visibility:hidden;position:absolute;"></div>
	<div style="display: flex;justify-content:center;">
		<div [style.height.px]="height" [style.width.px]="width">
			<div class="right" style="text-align:right;padding-right:0px;">
				<span (click)="openColumnVisibility()"	class="glyphicon glyphicon-cog"	style="color:#31708f;cursor:pointer"></span>
			</div>
			<ag-grid-angular #agGrid style="height: 100%;" class="ag-fresh"
																  [gridOptions]="gridOptions"
																  (rowSelected)="onRowSelected($event)"
																  (userRowSelected)="onUserRowSelected(event)"
																  (modelUpdated)="setRowCount()"
																  (valueChanged)="onValueChanged($event)"
																  >
			</ag-grid-angular>
			<div class="row item-count" style="text-align:right;padding-right:15px;">
				{{rowCount}} items found
			</div>
		</div>
	</div>
		<div class="row" *ngIf="cfgModel.sandboxMode==true">
			<div class="col-md-8 col-md-offset-4" style="text-align:right">
				Run FCDR classification engine 
				<button class="btn btn-primary" (click)="onClassifyClick('sandbox', selectedRuleset)">Classify</button> with ruleset 
				<mat-form-field>
					<mat-select class="form-control"
				 [(ngModel)]="selectedRuleset"
				 name="ruleset">
						<mat-option *ngFor="let rulesetOption of rulesets" [value]="rulesetOption.rulesetId">{{rulesetOption.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div #showInReviewDiv style="display:none;" class="row mainFooter" >
			<button (click)="onShowInReviewClick()">Show In Review</button>
		</div>
		<div #showMissingDiv style="display:none;" class="row mainFooter" >
			<button (click)="onShowMissingClick()">Show Validation Errors</button>
		</div>
		<div #showAllDiv class="row mainFooter" style="display:none;">
			<button (click)="onShowAllClick()">Show All</button>
		</div>
</div>
