<h1 md-dialog-title>Save a Dataset</h1>
<div style="padding-bottom:20px">
	<div>
		<label>Dataset Name:</label>
		<input class="form-control" [(ngModel)]="datasetName" name="datasetName">
	</div>
	<label for="comment">Comments:</label>
	<textarea class="form-control" style="height:250px;width:500px;" [(ngModel)]="datasetComments" name="datasetComments"></textarea>
</div>
<div>
	<button class="btn btn-primary" (click)="dialogRef.close(onSaveClose())">Save</button>
	<button class="btn" (click)="dialogRef.close('cancel')">Cancel</button>
</div>
